﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
    <section class="nieuws" id="nieuws">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <article class="nieuws">
                        <h2>@Umbraco.Field("paginaTitel")</h2>
                        <hr>                        
                        <p>Niets dan blije gezichten vorige woensdag in Mariakerke. Onder luide aanmoedigingen van de massaal meegereisde supporters voetbalden de Schuimforellen zich complexloos naar een tweede opeenvolgende 1-15 overwinning. Na Jungleworld werd deze keer HDP Parthena van het kastje naar de muur gespeeld. De Parthenianen bevinden zich op een troosteloze twaalfde plaats, en hadden slechts vijf spelers afgevaardigd, waardoor de spanning in de partij snel ver te zoeken was.</p>
                        <p>Uitblinker op woensdagavond was zonder enige twijfel Tom Leytens. Met maar liefst zeven doelpunten breekt hij het record ‘het meeste doelpunten in één wedstrijd’, dat voordien op naam van Mathieu Stevens stond, die vijfmaal scoorde in de wedstrijd tegen ESC. Leytens zelf reageerde onderkoeld.</p>
                        <p>“Het was vooral een goeie teamprestatie, vond ik. Dat ik zevenmaal scoor is vooral de verdienste van mijn ploegmaats. Zij gaven me regelmatig de bal wanneer ik een positie stond met slechts twee verdedigers en de doelman voor me, dan is het natuurlijk maar normaal dat ik er een paar binnenleg.”</p>
                        <p>Mathieu “The Snake” Stevens, die met drie doelpunten zijn topschutterspositie verder verstevigt, toonde zich minder tevreden. “Akkoord, we winnen met veertien doelpunten verschil, maar ik vond ons niet echt een goede match spelen. Verdedigend gaven we soms te veel ruimte weg, ze hebben zeker viermaal op doel kunnen schieten. En als ik de bal aan de zijkant heb, moet er toch zeker vier man in de box staan om mijn voorzetten binnen te kunnen werken. Anders kunnen we gewoon nooit genoeg scoren, en dat zal zich wreken in de topmatchen.”</p>
                        <p>Stevens blijkt echter alleen te staan in zijn kritiek. Mathijs “Robijntje” Neudt vindt dat dertig doelpunten in twee wedstrijden een behoorlijk gemiddelde is. “Kijk, we scoren genoeg om de tegenstander uit te tellen. Op het einde van de wedstrijd tellen alleen de drie punten, of het nu 5-6 is, of 1-20." Dat Snake vindt dat er te weinig bewogen wordt? "Dat hij zelf eens wat loopt. Zo altijd maar vooraan staan en balletjes binnentikken, zo kan ik ook topschutter worden hé.”</p>
                        <p>Begint de ijzersterke teamgeest van de Schuimforellen ondanks de uitstekende resultaten toch wat barstjes te vertonen? De conflicten blijven niet beperkt tot het spitsenduo. Ook tussen doelman Bjarne “Magnet” Leenaerts en sterverdediger Bert “Human Wall” zit het er bovenhands op. Leenaerts was niet bereikbaar voor commentaar, maar het uitblijven van een tweede clean sheet na confrontaties met tegenstanders die amper aan kansen raakten bleek hem hoog te zitten. Volgens Denolf moet Leenaerts echter de oorzaak van de twee tegendoelpunten bij zichzelf zoeken.</p>
                        <p>“Bekijk die goals nog maar eens goed. De tegengoal uit de vorige match viel nadat Magnet zelf te ver uit zijn doel kwam, die van deze week nadat een pass van hem niet aankwam. Hij moet dus maar eens stoppen om de schuld bij de verdedigers te leggen. In zo’n wedstrijden moeten de verdedigers trouwens in de eerste plaats mee naar voren om voor doelpunten te zorgen, zodat ons doelpuntensaldo wat bijgespijkerd wordt. Die clean sheet is totaal onbelangrijk. Erg kinderachtig van Magnet om daarop te focussen.”</p>
                        <p>Alsof dat nog niet genoeg is, vertrokken Tijs “Balboa” D’Hulster en Manuel “Curlywhirly” Remmerie na de match een stuk eerder dan de rest van het team, volgens geruchten na een felle discussie met een supporter. De belabberde prestatie van D’Hulster zal hier ongetwijfeld aan bijgedragen hebben: hij miste maar liefst drie opgelegde kansen én een schepcorner, hoewel die uitstekend getrapt was.</p>
                        <p>Tot overmaat van ramp blinkt ook voorzitter Boeraeve uit in afwezigheid. Hij miste de laatste twee wedstrijden en ook op de sociale media laat hij zijn invloed niet meer blijken. Hij zal zijn verantwoordelijkheid moeten opnemen om de neuzen in dezelfde richting te krijgen voor het belangrijke vierluik dat de sleutel tot het kampioenschap moet worden.</p>
                        <p>Op woensdag 8 april krijgen de Schuimforellen de meest haalbare kaart van de resterende wedstrijden voorgeschoteld. Speakers United staat momenteel zesde en mag zeker geen obstakel vormen voor een ploeg die de titel ambieert. De Schuimforellen zullen er echter in moeten slagen weer als een hecht team te functioneren, anders is puntenverlies onvermijdelijk.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section class="light-yellow spelers" id="spelerslijst">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <article class="spelers">
                        <h2>Spelerslijst</h2>
                        <hr />
                        <img class="kopjes visible-xs-inline-block img-responsive" src="img/spelerslijst.png" alt="spelers

schuimforellen" />
                        <img class="kopjes hidden-xs img-responsive" src="img/spelerslijst-wide.png" alt="spelers

schuimforellen" />
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section id="matchenklassement">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 fixtures">
                    <h2>Matchen</h2>
                    <hr />
                    <ul>
                        <li>
                            <div class="game">
                                <span>Jungleworld</span> - <span class="right home">De Schuimforellen</span>
                            </div>
                            <div class="result">1 <span>-</span> <strong>15</strong></div>
                        </li>
                        <li>
                            <div class="game">
                                <span>HDP-Partena</span> - <span class="right home">De Schuimforellen</span>
                            </div>
                            <div class="result">1 <span>-</span> <strong>15</strong></div>
                        </li>
                        <li>
                            <div class="game no-result">
                                <span>Speakers United</span> - <span class="right home">De Schuimforellen</span>
                                <small>
                                    <span class="date">Woensdag 08/04/2015 - 22:00</span>
                                    <span class="location">Sporthal Keiskant Drongen</span>
                                </small>
                            </div>
                            <!--<div class="result">4 <span>-</span> <strong>9</strong></div>-->
                        </li>
                        <li>
                            <div class="game no-result">
                                <span class="left home">De Schuimforellen</span> - <span>ESC Gent</span>
                                <small>
                                    <span class="date">Woensdag 15/04/2015 - 22:00</span>
                                    <span class="location">Sporthal Nazareth</span>
                                </small>
                            </div>
                            <!--<div class="result">4 <span>-</span> <strong>9</strong></div>-->
                        </li>
                        <li>
                            <div class="game no-result">
                                <span class="left home">De Schuimforellen</span> - <span>MVC Nietmachine</span>
                                <small>
                                    <span class="date">Dinsdag 21/04/2015 - 22:00</span>
                                    <span class="location">Sporthal Egon Mariakerke</span>
                                </small>
                            </div>
                            <!--<div class="result">4 <span>-</span> <strong>9</strong></div>-->
                        </li>
                        <!--<li>
                            <div class="game no-result">
                                <span class="left home">De Schuimforellen</span> - <span>Datsunspor</span>
                                <small>
                                    <span class="date">Dinsdag 28/04/2015 - 21:00</span>
                                    <span class="location">Sint-Jozef Gent</span>
                                </small>
                            </div>
                            <div class="result">4 <span>-</span> <strong>9</strong></div>
                        </li>
                        <li>
                            <div class="game no-result">
                                <span class="left home">De Schuimforellen</span> - <span>MVC Rabotvins</span>
                                <small>
                                    <span class="date">Woensdag 06/05/2015 - 21:00</span>
                                    <span class="location">Hogeschool Gent</span>
                                </small>
                            </div>
                            <div class="result">4 <span>-</span> <strong>9</strong></div>
                        </li>-->
                    </ul>
                </div>
                <div class="col-sm-6 klassement">
                    <h2>Klassement</h2>
                    <hr />
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2">Klassement op 28/03/2015</th>
                                <th>GS</th>
                                <th>W</th>
                                <th>V</th>
                                <th>G</th>
                                <th>P</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>De Schuimforellen</td>
                                <td>20</td>
                                <td>18</td>
                                <td>2</td>
                                <td>0</td>
                                <td>54</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Royal Vikings</td>
                                <td>20</td>
                                <td>16</td>
                                <td>1</td>
                                <td>2</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>ESC Gent</td>
                                <td>20</td>
                                <td>13</td>
                                <td>3</td>
                                <td>4</td>
                                <td>43</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>MVC Rabotvins</td>
                                <td>19</td>
                                <td>13</td>
                                <td>6</td>
                                <td>0</td>
                                <td>39</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Datsunspor</td>
                                <td>20</td>
                                <td>10</td>
                                <td>6</td>
                                <td>4</td>
                                <td>34</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>