﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="nl-be">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="'De Schuimforellen' is een Gents minivoetbalploegje met een onstilbare honger naar roem,

succes en pintjes. We spelen nu nog in de 4de klasse B, maar langzaam werken we aan onze weg naar de top. De sky is the limit!">
    <meta name="keywords" content="de schuimforellen, minivoetbal gent, 4de klasse b">
    <meta name="author" content="De schuimforellen">
    <title>De Schuimforellen</title>
    <link href="/css/style.css?v=1120152" rel="stylesheet">

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-57929275-2', 'auto');
        ga('send', 'pageview');

    </script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">
                    <img class="img-responsive" src="/img/schuimforellen-logo.png" alt="schuimforellen">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="page-scroll">
                        <a href="#start">Start</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#nieuws">Nieuws</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#spelerslijst">Spelerslijst</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll">
                        <a href="#matchenklassement">Matchen &amp; Klassement</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/about-us/">Info</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header id="start">
        <div class="dotted-border">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="game">
                            <div class="clearfix">
                                <div class="team">
                                    <div class="name">HDP Parthena</div>
                                </div>
                                <div class="result clearfix">
                                    <img src="/img/scores/score-transp.png" alt="" />
                                    <img src="/img/scores/score-1.png" alt="" />
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="team">
                                    <div class="name">De Schuimforellen</div>
                                </div>
                                <div class="result">
                                    <img src="/img/scores/score-1.png" alt="" />
                                    <img src="/img/scores/score-5.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="game right">
                            <div class="clearfix">
                                <div class="team battle clearfix">
                                    <img class="home" src="/img/scores/score-transp.png" alt="" />
                                    <div class="name">
                                        Speakers United<br />
                                        De Schuimforellen
                                    </div>
                                    <img class="away" src="/img/scores/score-transp.png" alt="" />
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="team date">
                                    <div class="name">
                                        Woensdag 8 april 2015 - 22:00<br />
                                        <span class="locatie">Sporthal Keiskant (Keiskantstraat 3, 9031 Gent)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

											
@RenderBody()

    <!-- Footer -->
    <footer class="text-center" id="info">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-sm-6">
                        <a href="https://www.facebook.com/pages/De-Schuimforellen/679612025422737" target="_blank">
                            <img class="facebook" src="/img/volg-ons-facebook.png" alt="schuimforellen facebook" />
                        </a>
                    </div>
                    <div class="footer-col col-sm-6">
                        <h1>De Schuimforellen</h1>
                        <p>
                            'De Schuimforellen' is een Gents minivoetbalploegje met een onstilbare honger naar roem, succes en

                            pintjes. We spelen nu nog in de <a href="http://www.kerngentdepinte.be/reeks4B.php" target="_blank">4de klasse B</a>, maar

                            langzaam werken we aan onze weg naar de top. The sky is the limit!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Schuimforellen.be
                        <script>document.write(new Date().getFullYear())</script>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/main.js?v=1120151"></script>

</body>

</html>