﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

    <section class="nieuws" id="nieuws">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <article class="nieuws">
                        <h2>@Umbraco.Field("nieuwsberichtTitel")</h2>
                        <hr>                        
                        <p>@Umbraco.Field("content")</p>
                    </article>
                </div>
            </div>
        </div>
    </section>