﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}


    <section class="nieuws" id="nieuws">
        <div class="container">
            <div class="row">
				<h2>@Umbraco.Field("headertag")</h2><hr>  
                <div class="col-sm-4">
                    <article class="nieuws">
             
                        <p>@Umbraco.Field("content")</p>
                    </article>
                </div>
                <div class="col-sm-4">
                    <article class="nieuws">
                       
                        <p>@Umbraco.Field("contentCol2")</p>
                    </article>
                </div>
                <div class="col-sm-4">
                    <article class="nieuws">
                        
                        <p>@Umbraco.Field("contentCol3")</p>
                    </article>
                </div>						
            </div>
        </div>
    </section>